.KentekenForm {margin: 10px 0;}
.KentekenField {background:url(../images/kenteken.png) no-repeat #FFE400;background-size: auto 100%; padding:10px 10px 10px 35px; margin-bottom:0;}
.KentekenField input {font-family:"Courier", serif; font-weight:bolder; text-transform:uppercase; width:80% !important;} 